.App {
  background-color: rgba(95, 93, 93, 0.475);
  background-image: url('https://i.imgur.com/CaTD18H.jpg');
  height: 100vh;
  margin: 0 auto;
  font-family: 'Crimson Text', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 78%;
}
