.Navbar {
  height: 50px;
  width: 100%;
  background-color: rgba(168, 14, 14, 0.767);
  font-family: 'Crimson Text', serif;
  border-radius: 15px;
  display: grid;
  display: Grid;
  justify-items: center;
  grid-template-areas: 'quiz home genres year search';
}

.Navbar a {
  font-size: 17px;
  font-family: 'Crimson Text', serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.genres,
.year {
  background-color: #4caf4f00;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: Grid;
  justify-self: center;
}
.genresbox,
.yearbox {
  position: relative;
  display: Grid;
  justify-self: center;
}
.listholder {
  background-color: rgb(214, 214, 214);
  min-width: 30px;
  box-shadow: 0px 8px 16px 0px rgba(47, 47, 47, 0.2);
  position: relative;
  top: 0;
}
.listholder a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}
.listholder:hover .listholder {
  display: block;
}

input {
  background-color: rgb(214, 214, 214);
  color: black;
  border: 1px solid rgba(104, 104, 104, 0);
  height: 20px;
  width: 200px;
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'Crimson Text', serif;
}
