.homecontainer {
  height: 300px;
  width: 100%;
  background-color: rgba(29, 29, 29, 0.938);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.startquiz {
  display: inline-block;
  border: none;
  padding: 30px 40px;
  text-align: center;
  margin-left: 600px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 25px;
  font-family: 'Crimson Text', serif;
  background-color: rgba(121, 3, 3, 0.924);
  color: white;
  transition-duration: 0.4s;
}

.startquiz:hover {
  background-color: white;
  color: rgba(121, 3, 3, 0.924);
}

.watch {
  color: #ffffff00;
  font-size: 5vw;
  text-shadow: 0 0 3vw;
  opacity: 80%;
  text-align: center;
  font-family: 'Crimson Text', serif;
}

.watch {
  animation: flux 5s linear infinite;
  -moz-animation: flux 4s linear infinite;
  -webkit-animation: flux 4s linear infinite;
  -o-animation: flux 4s linear infinite;
}
@keyframes flux {
  0%,
  25% {
    text-shadow: 0 0 1vw rgb(184, 184, 184), 0 0 1vw rgb(180, 179, 179),
      0 0 2vw rgb(144, 144, 144), 0 0 2vw rgb(189, 189, 189),
      0 0 0.4vw rgb(119, 119, 119), 0.5vw 0.5vw 0.1vw rgb(100, 100, 100);
    color: rgba(168, 14, 14, 0.767);
  }
  25% {
    text-shadow: 0 0 0.2vw rgba(133, 8, 8, 0.767),
      0 0 1vw rgba(121, 8, 8, 0.767), 0 0 2vw rgba(160, 29, 29, 0.767),
      0 0 3vw rgba(129, 37, 37, 0.767), 0 0 0.1vw rgba(139, 0, 0, 0.767),
      0.3vw 0.3vw 0.1vw #a30c28;
    color: rgb(189, 189, 189);
  }
}

/* .Most {
  position: absolute;
  left: 50px;
  top: 90%;
  width: 300px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(14, 29, 168, 0.767);
} */
