.container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  color: white;
}
.btn5 {
  background-color: rgba(188, 56, 56, 1);
  color: white;
  padding: 3%;
  display: flex;
  justify-content: center;
  margin-left: 40%;
}
