.Movielayout {
  width: 100%;
  height: 100%;
  border: 15px solid rgba(81, 81, 81, 1);
  padding: 50px;
  background-color: rgba(81, 81, 81, 1);
}
.Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: 'A B C D E F G H I J K L ';
}
#A {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
}
#B {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
}
#C {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
  margin-bottom: 40%;
}
#D {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
}
#E {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
}
#F {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
  margin-bottom: 50%;
}
#G {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
}
#H {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
}
#I {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
  margin-bottom: 40%;
}
#J {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
}
#K {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
}
#L {
  border: 1px solid black;
  background-color: blue;
  padding: 50px;
  width: 150px;
  height: 200px;
  margin-bottom: 50%;
}
h1 {
  border: 1px solid black;
  margin-top: 20%;
}
.Container:hover #id {
  transform: translateX(-25%);
}
#id:hover ~ #id {
  transform: translateX(25%);
}
#id:hover {
  transform: scale(1.5) !important;
}
