.Quizpage {
  // height: 90%;
  // width: 100%;
  display: flex;
  justify-content: center;
  display: Grid;
  grid-template-areas:
    '. .'
    'answers .'
    'next next';
  align-self: center;
}
.Quizbox {
  height: 400px;
  width: 400px;
}
.Question {
  margin-top: 10px;
  font-size: 40px;
  text-shadow: 3px 3px 5px grey;
  color: white;
  font-family: 'Crimson Text', serif;
  text-align: center;
  grid-area: question;
}
.answer-list {
  grid-area: answers;
  display: Grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.answer {
  font-family: 'Crimson Text', serif;
  border-radius: 20px;
  height: 50px;
  width: 100px;
  display: Grid;
  justify-self: center;
  align-items: center;
}
.nextbutton {
  grid-area: next;
  height: 50px;
  width: 100px;
}
