.questionairecontainer {
  background-color: rgb(29, 29, 29);
  // height:200px;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}
.questioncontainer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 10px;
  font-size: 40px;
  text-shadow: 3px 3px 5px grey;
  font-family: 'Crimson Text', serif;
}
.answercontainer {
  // height:100px;
  // width:400px;
  // background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // flex-direction:column;
  align-items: center;
  grid-gap: 10px;

  // flex-wrap: wrap;
}

.answers {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  text-align: center;
  // height:50px;
  // width:110px;
  padding: 1rem;
  background-color: purple;
}

.answer-desc {
  // margin: 0;
}

.show-page {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.nextbutton {
  height: 35px;
  width: 85px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  font-size: 12px;
  font-family: 'Crimson Text', serif;
  background-color: rgba(121, 3, 3, 0.924);
  color: white;
  margin-left: 10px;
}

.previousbutton {
  height: 35px;
  width: 85px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  font-size: 12px;
  font-family: 'Crimson Text', serif;
  background-color: rgba(121, 3, 3, 0.924);
  color: white;
  box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(148, 70, 70, 0.19);
}

.answerinput {
  margin: 0;
  margin-right: 10px;
}

.showanswer {
  margin-left: 10px;
  margin: 0;
}
