.MovieDetailPage {
  width: 100%;
  display: grid;
  place-content: center;
  background-color: rgba(95, 93, 93, 0.475);
  font-family: 'Crimson Text', serif;
}
.containercard {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-areas:
    'moviephoto details  .'
    'moviephoto .    .'
    '. actor .';
  background-color: rgb(29, 29, 29);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}
.MoviePhoto {
  margin-top: 53px;
  width: 200px;
  height: 297px;
  background-color: rgb(233, 219, 219);
  overflow: hidden;
  grid-area: moviephoto;
}
.MoviePhoto img {
  transform: translateY(-1%);
}
.detail {
  background-color: rgba(95, 93, 93, 0.475);
  padding: 20px;
  color: white;
  display: grid;
  margin-top: 64px;
  grid-area: details;
}
.title {
  color: rgb(234, 240, 243);
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.detail-text {
  font-size: 15px;
}
.overview {
  color: rgb(234, 240, 243);
  font-size: 16px;
  text-align: center;
}
.actors {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: actor;
}
.actor-view-btn {
  display: inline-block;
  border: none;
  padding: 5px 7px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  background-color: rgba(121, 3, 3, 0.924);
  color: white;
  margin-top: 20px;
}

.actorPhoto {
  display: grid;
  grid-template-columns: 138px 138px 138px 138px;
  // grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    '1 2 3 4'
    '5 6 7 8'
    '9 10 11 12';
  gap: 15px 10px;
  justify-content: center;
}

.actorPhoto img {
  $scalingFactor: 2; // bigger numbers make smaller images
  width: calc(276px / $scalingFactor);
  height: calc(350px / $scalingFactor);
}
